.ms-container {
  height: 100%;
}

.empty-render-preview {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: color-mix(in srgb $color-neutral-content 20%, rgb(0 0 0 / 0%));
  font-size: 1.5rem;
  row-gap: 30px;
  text-align: center;

  div {
    text-align: center;
  }
}
