@import "tailwindcss";
@plugin "daisyui" {
 prefix: "pasty-";
}

html {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: var(--full-width);
  height: var(--full-height);
  background: transparent !important;
  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--color-base-content);
  font-size: var(--default-font-size);
}

.full-w {
  width: var(--full-width);
}

.full-h {
  height: var(--full-height);
}

.full {
  height: var(--full-height);
  width: var(--full-width);
}

.global-container {
  background-color: var(--main-page-bg);
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0;
}
