@import "tailwindcss";


html {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
    background: rebeccapurple !important;    border-radius: 5px;
    overflow: hidden;
}
