// Global
@var-border-radius: 5px;

// Window
@var-full-width: 1000px;
@var-full-height: 650px;

// Title bars
@var-title-bar-bg: rgba(152, 50, 50);
@var-title-bar-height: 42px;
@var-title-bar-tab-bg: @var-title-bar-bg;
@var-title-bar-tab-bg-active: @var-main-page-bg;
@var-title-bar-tab-roundness: 12px;

// Main Page
@var-main-page-bg: rgba(101, 101, 101);

:root {
  --border-radius: @var-border-radius;
  --full-width: @var-full-width;
  --full-height: @var-full-height;
  --main-page-bg: @var-main-page-bg;
  --title-bar-height: @var-title-bar-height;
  --title-bar-bg: @var-title-bar-bg;
  --title-bar-tab-bg: @var-title-bar-tab-bg;
  --title-bar-tab-bg-active: @var-title-bar-tab-bg-active;
  --title-bar-tab-roundness: @var-title-bar-tab-roundness;
}

body {
  background-color: #5bbec3;
}

.full-w {
  width: @var-full-width;
}

.full-h {
  height: @var-full-height;
}

.full:extend(.full-w all, .full-h all) {
}

;
